window {
    background-color: #000000;
    border: 1px solid #E2232A;
    border-radius: 0px;
}

#input {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 0;
    margin: 5px;
    padding: 5px;
}

#inner-box {
    margin: 5px;
}

#entry {
    color: #ffffff;
    padding: 5px;
    border-radius: 0px;
}

#entry:selected {
    background-color: #E2232A;
    color: #ffffff;
}

#text {
    color: #ffffff;
}

#text:selected {
    color: #ffffff;
}
