* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font", "DejaVu Sans", sans-serif;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: #000000;
    color: #ffffff;
}

#workspaces {
    background-color: #000000;
}

#workspaces button {
    background-color: #000000;
    color: #404040;
    padding: 0 10px;
    min-width: 30px;
}

#workspaces button:hover {
    background-color: #E2232A;
    color: #ffffff;
}

#workspaces button.active {
    background-color: #E2232A;
    color: #ffffff;
}

#workspaces button.focused {
    background-color: #E2232A;
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: #ff0000;
    color: #ffffff;
}

#pulseaudio {
    background-color: #000000;
    color: #ffffff;
    padding: 0 15px;
}

#pulseaudio.muted {
    color: #404040;
}

#battery {
    background-color: #000000;
    color: #ffffff;
    padding: 0 15px;
}

#battery.warning {
    color: #ffff00;
}

#battery.critical {
    color: #ff0000;
}

#network {
    background-color: #000000;
    color: #ffffff;
    padding: 0 15px;
}

#clock {
    background-color: #000000;
    color: #ffffff;
    padding: 0 15px;
}
