* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font", "DejaVu Sans", sans-serif;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: #000000;
    color: #ffffff;
}

#workspaces {
    background-color: #000000;
}

#workspaces button {
    background-color: #000000;
    color: #404040;
    padding: 0 10px;
    min-width: 30px;
}

#workspaces button:hover {
    background-color: #E2232A;
    color: #ffffff;
}

#workspaces button.active {
    background-color: #E2232A;
    color: #ffffff;
}

#workspaces button.focused {
    background-color: #E2232A;
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: #ff0000;
    color: #ffffff;
}

#pulseaudio {
    background-color: #000000;
    color: #ffffff;
    padding: 0 10px;
}

#pulseaudio.muted {
    color: #404040;
}

#pulseaudio-slider {
    background-color: #000000;
    color: #ffffff;
    padding: 0 10px;
    min-width: 100px;
}

#pulseaudio-slider slider {
    min-height: 2px;
    min-width: 2px;
    background-color: #ffffff;
    border-radius: 0;
}

#pulseaudio-slider trough {
    min-height: 2px;
    min-width: 80px;
    border-radius: 0;
    background-color: #404040;
}

#pulseaudio-slider highlight {
    min-height: 2px;
    border-radius: 0;
    background-color: #E2232A;
}

#battery {
    background-color: #000000;
    color: #ffffff;
    padding: 0 15px;
}

#battery.warning {
    color: #ffff00;
}

#battery.critical {
    color: #ff0000;
}

#network {
    background-color: #000000;
    color: #ffffff;
    padding: 0 15px;
}

#clock {
    background-color: #000000;
    color: #ffffff;
    padding: 0 15px;
}

#temperature {
    background-color: #000000;
    color: #ffffff;
    padding: 0 15px;
}

#temperature.critical {
    color: #E2232A;
}

#custom-virtkbd {
    background-color: #000000;
    color: #ffffff;
    padding: 0 12px;
    margin: 0 2px;
    font-size: 16px;
    min-width: 40px;
    min-height: 30px;
}

#custom-rotation-lock {
    background-color: #000000;
    color: #ffffff;
    padding: 0 12px;
    margin: 0 2px;
    font-size: 16px;
    min-width: 40px;
    min-height: 30px;
}
